<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="w-full min-h-screen flex items-center gap-6 justify-center flex-col bg-zinc-900 text-white p-10">
        <a href="/profile" class="text-white absolute top-3 left-5 text-2xl">
        <i class="fa-solid fa-arrow-left"></i>
        </a>

        <h3 class="text-5xl mb-5">Upload Profile Picture</h3>
        <form action="/upload" class="flex flex-col justify-center items-center" method="post" enctype="multipart/form-data">
            <input class=" border border-red-400 rounded-sm" type="file" name="image"><br>
            <input class="px-5 py-2 rounded-md bg-blue-500" type="submit" placeholder="Upload File">
        </form>
    </div>
</body>

</html>